/* CSS Document */
@media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
		body{
		    background-color:#FFFFFF;
			}
    }
    @media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
		body{
		    background-color:#CCFFFF;
			}
    }
    @media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
		body{
		    background-color:#FFFFFF;
			}
    }
    @media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
	   body{
		    background-color:#CCCCCC;
			}
    }
    @media only screen and (device-width:768px){
       /* default iPad screens */
	   body{
		    background-color:#33FFFF;
			}

    }
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
	  body{
		    background-color:#66FFCC;
			}
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
	  body{
		    background-color:#FFCC99;
			}
	}
#time{
   background-color: #CCCCCC;
   width: 85px;
   height: 20px;
   padding: 5px;
   border: 2px solid #CCCCCC;
   position: static;
   }
#time1{
   background-color: #CCCCCC;
   width: 85px;
   height: 20px;
   padding: 5px;
   border: 2px solid #CCCCCC;
   position: static;
   }

#spn{
   background-color: #FFFFFF;
   width:85px;
   height: 20px;
   padding: 5px;
   border: 2px solid #CCCCCC;
   position: static;
   } 
#time2{
   background-color: #CCCCCC;
   width: 85px;
   height: 20px;
   padding: 5px;
   border: 2px solid #CCCCCC;
   position: static;
   }
#time3{
   background-color: #CCCCCC;
   width: 85px;
   height: 20px;
   padding: 5px;
   border: 2px solid #CCCCCC;
   position: static;
   }

#spn1{
   background-color: #FFFFFF;
   width:85px;
   height: 20px;
   padding: 5px;
   border: 2px solid #CCCCCC;
   position: static;
   } 

.flex-container {
  
    display: flex;
    width: 259px;
    height: 72px;
	padding: 5px;
	align-items: flex-start;
	cursor:pointer;
}
.flex-container1 {
  
    display: flex;
    width: 259px;
    height: 92px;
	padding: 5px;
	align-items: center;
	cursor:pointer;
}
.flex-container2 {
  
    display: flex;
    width: 259px;
    height: 72px;
	padding: 5px;
	align-items: flex-end;
	cursor:pointer;
}
img {
max-width: 100%;
max-height: 100%;
width: auto;
}
.one{
 border:double;
 float: left;
 background-color:#FFFFFF;
 width: 80px;
 height: 75px;
 margin:2px;
 } 
#container{
  border-radius:4px;
  background:#007fff;
  width:315px;
  height:315px;
  padding-top:50px;
  padding-bottom:0;
  padding-left:50px;
  box-shadow: 0 5px 10px black;
  text-align: center;
}
#reset{
     background-color:#FFFFFF;
	 text-align:center;
	 width:135px;
	 height:45px;
	 cursor:pointer;
	 font-size:20px;
	 padding: 5px 10px;
	 border-radius: 12px;
	 color:#000000;
	 border: 2px solid #9999FF;
}
#reset:hover{

          background-color: #9999FF;
		  color: #FFFFFF;
}
 

